{% extends 'base.html.twig' %}

{% block body %}
{% for label, messages in app.flashes %}
    {% for message in messages %}
        <div class="flash-{{ label }}">
            {{ message }}
        </div>
    {% endfor %}
{% endfor %}

<p><strong>Original link:</strong> {{ link.originalUrl }}</p>
<p><strong>Short link: </strong> <a target="_blank" href="{{ path('short_code', {'code': link.shortCode}) }}">Open</a></p>
<p><strong>Statistics for your link: </strong>
    <a target="_blank" href="{{ path('link_statistics', {'token': link.token}) }}">See info</a>
</p>
{% endblock %}
